body {
    animation: pulseBackground 10s infinite alternate;
}

@keyframes pulseBackground {
    0% {
        background-color:rgba(59, 50, 114, 0.9);
    }
    100% {
        background-color: rgb(76, 76, 76);
    }
}